
.blueDiv{
    /* clip-path: polygon(0 78%,0% 100%, 73% 100%);
     */
     clip-path: polygon(25% 0%, 100% 0%, 100% 20%);
}

.greenDiv{
    clip-path: polygon(29% 0, 100% 0, 100% 9%, 64% 17%);

}

.bg-top{
    background-image: url("../../public/images/top.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.bg-bottom{
    background-image: url("../../public/images/top1.png");
    background-repeat: no-repeat;
    background-size: cover;
}